.color-1 {
  background: green;
}
.color-2 {
  background: orange;
}
.color-3 {
  background: red;
}
.color-4 {
  background: yellow;
}
.color-gray {
  background: #f5f6f8
} 

body {
  _max-width: max-content;
  margin: auto;
}
.app-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-wrapper {
  padding: 5px;
  width: auto;/*500px;*/
  display: flex;
  justify-content: space-evenly;
  border: 1px solid rgb(239, 239, 241);
  height: auto;
  background-color: white;
}
.component {
  margin-bottom: 3px;
}
.timeline {
  width: 500px;
  height: 10px;
  background-color: #bdbdbd;
  position: relative;
}
.timeline .indicator {
  display: inline-block;
  position: absolute;
  width: 2px;
  background-color: gray;
  height: 100%;
}
.newEventBtn {
  font-size: 0.73em;
  border: 1px solid gray;
  padding: 5px;
}
.events-container {
  background-color: white;
  border: 2px solid #e5e5e5;
}
.events-container .row {
  position: absolute;
  outline: 1px solid gray;
  padding: 5px 0 5px 0;
  min-height: 20px;
}

.row .event-item.entered {
  background-color: orange;
}
.row .event-type {
  display: inline-block;
  border: 1px solid orangered;
}
.row .row-name {
  display: inline-block;
  left: -70px;
  font-weight: strong;
  position: absolute;
  text-align: right;
}
#mainvideo_html5_api {
  width: 500px;
  height: 360px;
  margin: 10px 0px 10px 0px;
}
.event-form-control {
  border: 1px solid gray;
  padding: 5px;
  background: white;
  position: absolute;
  z-index: 10;
  width: 500px;
}
.fixed {
  content: "";
  clear: "both";
}
.editable-content {
  padding: 0px 5px 0px 5px;
  border: 1px solid #e0e0e0;
}
.event-form-control .clsBtn {
  float: right;
  cursor: pointer;
  margin-right: 0px;
}
.event-form-control .addRowCls {
  cursor: pointer;
  display: inline-block;
}
.content-summary {
  border: 1px solid red;
  float: left;
  width:  550px;
  height: 500px
}
.list {
  border: 1px solid red
}

.btn { border: 1px solid red; margin-left:5px; padding: 5px; cursor: pointer }

.event-row-wrapper {
  position: relative;
}

.event-row-wrapper .event-title {
  float: left;
  width: 13%;
  left: -70px;
  tsop: -15px;
  text-align: center;

}

.main-time-indicator {
  border: 1px solid orange;
  height: 267px;
  position: absolute;
  background-color: red;
  left: 0px;
}
.event-row {
  display: block;
  background-color: orange;
}
.event-item-container {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  width: 500px;
  height: 50px;
}
.event-item-container p {
  vertical-align: middle;
  border: 1px solid black;
  margin: auto;
}
.event-content {
  margin: auto;
  height: 150px;
  width: 100%;
  border: 1px solid lightgray;
  margin-top: 15px;
}
.field-label {
  display: block;
  margin-bottom: 15px;
}
.field-label.steps {
 display: inline; 
 margin-bottom: 5px;
}

.field-label.steps input {
  display: inline-block;
  margin: 0 5px 0 5px;
  border: 1px solid lightgray 
}

label input {
  display: block;
  border: 1px solid red
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 19px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* slider */
.switch .slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

.switch .slider input:checked + .slider {
  background-color: #2196F3;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
/* Rounded sliders */
.switch .slider.round {
  border-radius: 9px;
}

.switch .slider.round:before {
  border-radius: 50%;
}
.main-list-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px
}
.main-list-wrapper .category {
  border: 1px solid #dddddd;
  cursor: pointer;
  opacity: 0.8;
  padding: 5px 15px 5px 15px;
  border-radius: 1.6rem;
  margin-right: 5px;
  float: right;
}
.main-list-wrapper .content-item {
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    --box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 5px;
    --box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    --box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.content-panel {
  padding-left: 20px
}
.event-item {top:20px}