.color-1 {
  background: green;
}
.color-2 {
  background: orange;
}
.color-3 {
  background: red;
}
.color-4 {
  background: yellow;
}

.main-wrapper {
  padding: 5px;
  width: 500px;
  margin: auto;
  background: #263238;
}
.component {
  margin-bottom: 3px;
}
.timeline {
  width: 500px;
  height: 10px;
  background-color: #bdbdbd;
  position: relative;
}
.timeline .indicator {
  display: inline-block;
  position: absolute;
  width: 2px;
  background-color: gray;
  height: 100%;
}
.newEventBtn {
  font-size: 0.73em;
  border: 1px solid gray;
  padding: 5px;
}
.events-container {
  background-color: white;
}
.events-container .row {
  position: relative;
  outline: 1px solid gray;
  padding: 5px 0 5px 0;
  width: 500px;
  min-height: 20px;
}

.row .event-item.entered {
  background-color: orange;
}
.row .event-type {
  display: inline-block;
  border: 1px solid orangered;
}
.row .row-name {
  display: inline-block;
  left: -70px;
  font-weight: strong;
  position: absolute;
  text-align: right;
}
#mainvideo_html5_api {
  width: 500px;
  height: 360px;
  margin: 10px 0px 10px 0px;
}
.event-form-control {
  border: 1px solid gray;
  padding: 5px;
  background: white;
  position: absolute;
  z-index: 10;
  width: 500px;
}
.fixed {
  content: "";
  clear: "both";
}
.editable-content {
  padding: 0px 5px 0px 5px;
  border: 1px solid #e0e0e0;
}
.event-form-control .clsBtn {
  float: right;
  cursor: pointer;
  margin-right: 0px;
}
.event-form-control .addRowCls {
  cursor: pointer;
  display: inline-block;
}
.content-summary {
  border: 1px solid red;
  float: left;
  width:  550px;
  height: 500px
}
.list {
  border: 1px solid red
}

.btn { border: 1px solid red; margin-left:5px; padding: 5px; cursor: pointer }

.event-row-wrapper {
  display: flex;
  position: relative;
}

.event-row-wrapper .event-title {
  position: absolute;
  width: 100px;
  left: -112px;
  top: 0px;
  margin: 0px;
  padding-right: 10px;
  text-align: right;
}
.event-row-wrapper {
  border: 1px solid red
}

.main-time-indicator {
  border: 2px solid orange;
  height: 267px;
  position: absolute;
  background-color: red 
}
.event-row {
  border: 1px solid orange
}